.products-container {
    position: relative;
  }
  
  .product {
    position: absolute;

  }
  
  .product:nth-child(1) {
    top: 100px;
    left: 50px;
  }
  
  .product:nth-child(2) {
    top: 150px;
    left: 50px;
  }

  .product:nth-child(3) {
    top: 200px;
    left: 50px;
  }
  
  .product:nth-child(4) {
    top: 250px;
    left: 50px;
  }